@media screen and (min-width: 992px) {
  .aside{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .desc-box{
    height: calc(100% - 60px);
  }

  .desc-content{
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    margin-left: 56px;
  }

  .teach{
    min-width: 800px;
  }

  .mobile-nav{
    display: none;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .desc-box{
    margin-bottom: 30px;
  }

  .c-bg{
    margin-top: 20px;
  }

  .mobile-nav{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desc-box{
    margin-top: 0;
    padding-bottom: 10px;
    
  }

  .text-box{
    font-size: 22px;
  }

  .logo-box{
    width: 50%;
    margin: 0 auto;
  }

  .logo-box-img{
    margin-top: 50px;
  }

  .club-box{
    text-align: center;
  }

  .login-register{
    width: 140px;
    margin: 0 auto;
  }

  .jingxuan-box{
    width: 100%;
  }

  .club-box{
    width: 100%;
  }

  .c-bg{
    margin-top: 20px;
  }

  .mybox{
    padding-bottom: 80px;
  }

  .mobile-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  .mobile-nav li{
    margin: 0 auto;
    font-size: 12px;
    padding: 6px 0;
  }

  .mobile-nav-icon{
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }

  .nav-active{
    color: #00A862;
  }
}