ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.aside{
  background-color: #FFFFFF;
  padding-top: 10px;
  border-right: 1px solid #ddd;
}

.nav-box{
  height: 50px;
}

.logo{
  width: 36px;
  margin-top: 7px;
}

.menu-box>span{
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

.menu-btn{
  width: 16px;
  height: 16px;
  /* background-color: #444; */
  margin-top: 17px;
}

.menu-btn>.line{
  display: block;
  height: 2px;
  background-color: #a5a5a5;
}

.middle-line{
  margin: 5px 0;
}

.desc-box{
  
  margin-top: 10px;
  position: relative;
}



.text-box{
  height: 44px;
  line-height: 44px;
  font-size: 28px;
}

.title{
  color: #333;
  font-weight: bold;
}

.co{
  margin-left: 20px;
}

.login-box{
  margin-top: 24px;
  height: 32px;
}

.register{
  width: 60px;
  height: 32px;
  border: 1px solid #2FB87F;
  border-radius: 16px;
  text-align: center;
  line-height: 32px;
  color: #2FB87F;
  margin-left: 20px;
}

.login-text{
  color: #2FB87F;
  line-height: 32px;
  margin-left: 5px;
}

.login-img{
  width: 32px;
}

.child-menu{
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  padding-top: 10px;
}

.menu-close{
  width: 16px;
  height: 16px;
  /* background-color: #555; */
  margin-top: 17px;
  position: relative;
}

.i-line{
  display: block;
  position: absolute;
  left: 8px;
  top: 0;
  width: 2px;
  height: 16px;
  background-color: #a0a0a0;
}

.first{
  transform: rotateZ(45deg);
}

.second{
  transform: rotateZ(-45deg);
}

.child-menu-content{
  height: calc(100% - 50px);
}

.main-content{
  height: calc(100% - 60px);
  position: relative;
}

.main-content-list{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.child-list{
  margin-left: 56px;
}

.company-info{
  height: 60px;
}

.child-list>ul>li{
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.child-list>ul{
  border-bottom: 1px solid #ddd;
}

.child-list>ul:first-child{
  margin-bottom: 15px;
}

.sup{
  font-size: 12px;
}

.info{
  margin-left: 56px;
}

.info>span{
  float: left;
  padding-right: 20px;
  line-height: 60px;
  font-size: 14px;
  color: #aaa;
  position: relative;
}

.info-line{
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #aaa;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.cipian{
  background-color: #F7F7F7;
}

.cipian img{
  box-shadow: 0px 0px 3px 1px rgba(170, 170, 170, .5);
}

.club{
  background-color: #fff;
  padding: 30px 0;
}

.club-box{
  width: 620px;
  margin: 0 auto;
}

.c1{
  color: #180031;
  font-size: 22px;
}

.c2{
  color: #707070;
  margin: 20px 0;
}

.c3{
  color: #DEBA61;
}

.c4{
  width: 60px;
  height: 32px;
  border: 1px solid #00A862;
  color: #00A862;
  text-align: center;
  line-height: 32px;
  border-radius: 16px;
}
.c4:nth-child(1){
  margin-right: 20px;
}

.logo-box{
  margin-top: 40px;
  margin-left: 40px;
}

.jingxuan{
  background-color: #F7F7F7;
  padding: 30px 0;
}

.jx{
  margin-top: 50px;
}

.main-title{
  font-size: 22px;
}

.sub-title{
  color: #6C6C6C;
  margin: 20px 0;
}

.jingxuan-box{
  width: 620px;
  margin: 0 auto;
}

.text-title{
  font-weight: bold;
  margin-bottom: 15px;
}

.c5{
  font-size: 14px;
  color: #707070;
  margin-bottom: 5px;
}
.c6{
  font-size: 13px;
  color: #D4C191;
  margin-top: 20px;
}

.text-desc{
  padding: 40px 0 20px 0;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 0px 3px 1px rgba(170, 170, 170, .5);
}

.c-img{
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  width: 90px;
  margin: 0 auto;
}

.c1-img{
  width: 70px;
}

.teach{
  background-color: #fff;
  padding: 30px 0;
  
}

.bg-img{
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1{
  background-image: url("../img/coffeehouse-coffee-cultivation-kv.jpg");
}

.bg2{
  background-image: url("../img/coffeehouse-4-fundamentals-kv.jpg");
}

.bg3{
  background-image: url("../img/coffeehouse-roast-story-kv.jpg");
}

.bg4{
  background-image: url("../img/coffeehouse-pour-over-kv.jpg");
}

.bg-text{
  padding: 10px;
}

.bg-shadow{
  box-shadow: 0px 0px 3px 1px rgba(170, 170, 170, .5);
}

.cp{
  padding: 20px;
  color: #707070;
  font-size: 14px;
}

.icp{
  width: 14px;
  height: 14px;
}
